accelerate==0.28.0
bitsandbytes==0.43.0
diffusers==0.27.2
joblib
numpy
pillow
pynvml #used for gpu vram logging, probably will be changed
tensorboard
tqdm
torch==2.2.2
torchvision
transformers==4.39.3
lpips
opencv-python #cv2

#HPSv2
git+https://github.com/tgxs002/HPSv2.git

#GFPGANer
facexlib
lmdb
yapf

#basicsr
addict
future
scikit-image
